.BTDatVe {
    @font-face {
        font-family: 'fontBTDatve';
        src: url('font/Pony.ttf');
    }
    font-family: fontBTDatve;

    background-image:linear-gradient(to right bottom, rgba(1, 0, 4, 0.778), rgba(82, 80, 80, 0.69)), url(./img/bgmovie.jpg);
    width: 100%;
    height: 100%;
    position: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    .Chair {
        &.booking {
            background: #28a745;
            color: white;
        }
        &.booked {
            background: #ffc107 !important;
            color: white;
            pointer-events: none;
          
        }
    }


    h1 {
        color: red;
    }

    .screen {
        border-bottom: 50px solid rgb(255, 159, 95);
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        height: 10px;
        width:100%;
        filter: drop-shadow(4px 30px 20px rgba(255, 255, 255, 0.5));
        font-size: 25px;
        color: #fff;
        margin-bottom: 20px;
    }

    .ghe {
        border: 2px solid orange;
        width: 35px;
        height: 35px;
        font-size: 12px;
        margin-left: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
    }
    .hangGhe {
        width: 50px;
        margin-top: 7px;
        margin-left: 50px;
        font-size: 20px;
        
    }
    .rowNumber{
        font-size: 20px;
        width: 45px;
        height: 35px;
        background: none;
        border:none;
        margin-left: 31px;
        
    }
    
}